<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <script>
    var first = function ()
    {
       alert ('Hello'); 
    }
    first();
  </script>

  <% include ../partials/nav.ejs %>

Hellos I am here Change made 
</body>
</html>
