<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../pages/retrieveprofile.ejs %>

Hellos I am here Change made 
</body>
</html>
