<script src="../partials/jsforce.js"/>
<script>
    var profile=
    {
        
        init : function()
        {
            
        }    
    } 
    profile.init();
</script>
<div>
    
    <table>
        <tr>
            <td>
                <div>
                    <div>Please Login to your salesforce instance</div>
                </div>                    
            </td>
            <td>
                <select >
                    <option value="sandbox">Sandbox</option>
                    <option value="production">Production</option>
                </select>
            </td>
        </tr>
        <tr >
            <td>
                Username
            </td>
            <td>
                <input id="sfusername" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                    <input id="sfpassword" type="text" />
            </td>
        </tr>
    </table>
</div>