<script src="//cdnjs.cloudflare.com/ajax/libs/jsforce/1.9.1/jsforce.min.js"></script>
<script>
    var profile
    {
        var init=function()
        {
            alert('Hello Alert');
        }    
    }
</script>
<div>
    <div>
        <div>Please Select the objects</div>
    </div>
    <table>
        <tr >
            <td>
                The list of Objects
            </td>
            
        </tr>
        <tr>
            <td>
                <select id="select-object" ></select>
            </td>
        </tr>
    </table>
</div>