<script>
    var jsforce = require('jsforce');
    var pageprofile=
    {
        console.log('hello world'),
        sflogin : function()
        {
            alert('Hello');
        }    
    }     
</script>
<div>
    
    <table>
        <tr>
            <td>
                <div>
                    <div>Select your instance</div>
                </div>                    
            </td>
            <td>
                <select >
                    <option value="sandbox">Sandbox</option>
                    <option value="production">Production</option>
                </select>
            </td>
        </tr>
        <tr >
            <td>
                Username
            </td>
            <td>
                <input id="sfusername" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                    <input id="sfpassword" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Login" onclick="pageprofile.sflogin()"/>
            </td>
        </tr>
    </table>
</div>